*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  /*background-color: whitesmoke;*/
  background-color: rgb(235, 235, 235);
  box-sizing: border-box;
  overflow-x: hidden;
}



header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-tap-highlight-color: transparent;
}



.tab-container {
  position: relative;
  display: flex;
  flex: 1 1;
  align-items: center;
  padding: 2px;
  background-color: #dadadb;
  border-radius: .5rem;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tab-container > label {
  z-index: 99999;
  color: #888;
  font-weight: 300;
  font-size: 1rem;
}
.tab {
  position: absolute;
  z-index: 99999;
  outline: none;
  opacity: 0;
}
.tab_label {
  width: 200px;
  height: 28px;
  z-index: 999;
  display: flex;
  border: 0;
  font-size: 0.75rem;
  opacity: 0.6;
}
.tab_label1, .tab_label2, .tab_label3, .tab_label4 {
  border: 0;
  max-width: 130px;
  min-width: 130px;
  text-align: center;
  cursor: pointer;
}
.tab--1:checked ~ .indicator {
  left: 2px;
}
.tab--2:checked ~ .indicator {
  left: calc(160px + 2px);
}
.tab--3:checked ~ .indicator {
  left: calc(160px * 2 + 2px);
}
.tab--4:checked ~ .indicator {
  left: calc(160px * 3.025 + 2px);
}
.indicator {
  width: 140px;
  height: 28px;
  background: #ffffff;
  position: absolute;
  z-index: 9;
  top: 2px;
  left: 2px; /* AJUSTAR A GUSTO*/
  border: 0.05rem solid rgba(0, 0, 0, 0.04);
  filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.12));
  border-radius: .5rem;
  transition: all 0.2s ease-out;
}



.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  grid-template-rows: auto 1fr auto;
}



.presentation {
  display: flex;
}
.aboutme {  /*  p Element*/
  display: flex;
  flex-wrap: wrap;
  max-width: 30em;
}
.photoProfileIMG {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  object-fit: cover;
  filter: drop-shadow(0rem 0rem 0.5rem rgba(0,0,0,0.05));
}
.presentationMe > span {
  font-weight: 600;
}



.skillset {
  display: grid;
}
.skillset > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.skillset > div > button {
  border: none;
  border-radius: .25rem;
  background-color: #dadadb;
  padding: .5rem;
}
.skillset > table > tbody > tr {
  font-weight: 800;
}
.skillset > table > tbody > tr > td {
  max-width: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  min-height: 4rem;
  object-fit: cover;
  overflow: hidden;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.skillset > table > tbody > tr > td > img {
  max-width: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  min-height: 4rem;
  width: 10rem;
}



.projects, .article-div {
  display: flex;
}
.article-div {
  gap: 1;
  margin-left: .5rem;
  margin-right: .5rem;
}
#art2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.article-div > article {
  background-color: #dadadb;
  border-radius: .5rem;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 15rem;
  min-width: 15rem;
  padding-bottom: .5rem;
}
.article-div > article > img {
  border-radius: .5rem .5rem 0rem 0rem;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: .5rem;
}
.article-div > article > div {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article-div > article > div > a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  transition: all 0.5s ease;
}
.article-div > article > div > a:hover {
  color: black;
  /*transform: scale(1.05); hacer esto para el docker inferior*/
}
.acticle-div > article > div > a, .article-div > article > div > a > h1 {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  max-width: 15rem;
  margin-bottom: .5rem;
}
.article-div > article > div > span {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  max-width: 10rem;
  margin-left: .5rem;
  margin-right: .5rem;
}



.contact {
  display: grid;
}
.mailCopy {
  flex-direction: row-reverse;
  display: flex;
  justify-content: left;
  display: flex;
  gap: .5rem;
  align-items: center;
}
.mailCopy > svg {
  cursor: pointer;
  align-items: center;
}
.mailCopy > svg:active + .mail {
  color: rgb(87, 87, 87);
}
.contact > a {
  margin-top: 1.5rem;
  text-decoration: none;
  color: rgb(60, 60, 223);
  transition: all 0.5s ease;
}
.contact > a:hover {
  color: rgb(10, 10, 223);
}



@media (max-width: 600px) {
  .tab-container {
    gap: 8px;
    height: 28px;
    padding: 2px 5px;
  }

  .tab-container > label {
    font-size: 0.75rem;
  }

  .tab_label1, .tab_label2, .tab_label3, .tab_label4 {
    min-width: 80px;
    max-width: 80px;
    font-size: 0.65rem;
  }

  .indicator {
    width: 80px;
    height: 26px;
    top: 2px;
  }

  .tab--1:checked ~ .indicator {
    left: 2px;
  }

  .tab--2:checked ~ .indicator {
    left: calc(80px + 8px + 2px);
  }

  .tab--3:checked ~ .indicator {
    left: calc((80px + 8px) * 2 + 2px);
  }

  .tab--4:checked ~ .indicator {
    left: calc((80px + 8px) * 3 + 2px);
  }
}
